<div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a target="_blank" href="https://www.linkedin.com/in/jay-mar-m-572953111/">
            <img
              class="main-footer__icon"
              src="./assets/png/linkedin-ico.png"
              alt="icon"
            />
          </a>
          <a target="_blank" href="https://github.com/JayMar0526">
            <img
              class="main-footer__icon"
              src="./assets/png/github-ico.png"
              alt="icon"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/ramyaj.mm">
            <img
              class="main-footer__icon main-footer__icon--mr-none"
              src="./assets/png/insta-ico.png"
              alt="icon"
            />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">Jay Mar Matias</h4>
        <p class="main-footer__short-desc">
          Feel free to reach out if you're interested in collaborating with me. Thank you.
        </p>
      </div>
    </div>

    <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
    <div class="main-footer__lower">
      &copy; Copyright 2024. Created by Jay Mar Matias | Template Credit by
      <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
        >Ram Maheshwari</a
      >
    </div>
</div>